# OS
.DS_Store
Thumbs.db

# Rime
build/*
!build/kMandarin.reverse.bin
custom_phrase.txt
*.userdb/
*.userdb.txt
user.yaml
installation.yaml

# IDE
.vscode/*
!.vscode/settings.json

.ttxfolder
*.hidden
*.nomedia

